# Dependencies
node_modules
.pnpm-store

# Environment
.env*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Docker
Dockerfile*
docker-compose*
.dockerignore
!docker-entrypoint.sh

# Testing
coverage
test
*.spec.ts
*.e2e-spec.ts
jest.config.js

# CI/CD
.github

# Logs
logs
*.log
tmp
temp

# Cache
.cache
*.tsbuildinfo
.eslintcache